<div class="row">
    <div class="col-75">
      <div class="container">
        <form action="/action_page.php">
        <link rel="stylesheet" href="css/style1.css">





        
  
          <div class="row">
            <div class="col-50">
              <h3>Add Produk</h3>
              <label for="pengirim"><i class="fa fa-user"></i> pengirim</label>
              <input type="text" id="pengirim" name="firstname" placeholder=""><br><br>
  
              <label for="penerima"><i class="fa fa-envelope"></i> penerima</label> 
              <input type="text" id="penerima" name="penerima" placeholder=""><br><br>
  
              <label for="telp"><i class="fa fa-address-card-o"></i> telp</label>
              <input type="text" id="telp" name="address" placeholder=""><br><br>
  
              <label for="email"><i class="fa fa-institution"></i> email</label>
              <input type="text" id="email" name="city" placeholder=" "><br><br>
  
              <label for="alamat"><i class="fa fa-institution"></i>alamat </label>
              <input type="text" id="alamat" name="city" placeholder=""><br><br>

              <label for="password"><i class="fa fa-institution"></i>password </label>
              <input type="text" id="password" name="city" placeholder=""><br><br>
              
  
             
            
          </div>
          <label>
            <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
          </label>
          <a href="pembayaran.php" class="btn btn-primary">pembayaran via bank</a>
              
        </form>
      </div>
      </div>
     
             
  
    
  
    <div class="col-25">
      <div class="container">
        <h4>Cart
          <span class="price" style="color:black">
            <i class="fa fa-shopping-cart"></i>
            <b>4</b>
          </span>
        </h4>
        <p><a href="#">Product 1</a> <span class="price">$15</span></p>
        <p><a href="#">Product 2</a> <span class="price">$5</span></p>
        <p><a href="#">Product 3</a> <span class="price">$8</span></p>
        <p><a href="#">Product 4</a> <span class="price">$2</span></p>
        <hr>
        <p>Total <span class="price" style="color:black"><b>$30</b></span></p>
      </div>
    </div>
  </div>