.body {
    margin: 5px;
    padding: 10px;
    background: url();
    background-size: cover;
    background-position: center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
    
    }
    .input {
        position: fixed;
        top: 50%;
        left: 600px;
        transform: translate(-30%, -50%);
        background: hwb(156 8% 90% / 0.9);
        padding: 50px;
        width:120px;
        box-shadow:0px 0px 25px 10px rgb(0, 0, 0);
        border-radius: 15px;
    }
    
    .input h1 {
        text-align: center;
        color: white;
        font-size: 30px;
        font-family: sans-serif;
        letter-spacing: 3px;
        padding-top: 0;
        margin-top: -20px;
    }